<div class="center pagination-container">
	<div class="pagination">
  	<a id="prev">&laquo;</a>
  	<a id="1" class="active">1</a>
  	<a id="2">2</a>
  	<a id="3">3</a>
  	<a id="4">4</a>
  	<a id="5">5</a>
  	<a id="6">6</a>
  	<a id="next">&raquo;</a>
	</div>
</div>
